.profileCard{
    box-shadow: -10px 10px 20px 1px rgb(4, 4, 4);
}
.profileCardThird{
    box-shadow: 0px 0px 10px black;
}
.card-container{
    padding: 30px;
    background-image: repeating-linear-gradient(45deg, rgb(153, 153, 153) , rgb(241, 11, 241));
}